@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
  
  /* Cores */
  --cor-principal:  #597dc5 ;
  --cor-secundaria: #6EB5A9 ;
  --cor-fundo: #E6CCA4;
  --cor-neutra: #F3F4F3;
  --cor-neutra2: #0ABB77;
  --cor-texto: #028552ec;

  /* Fontes */
  --fonte-primaria: "Montserrat";
  --fonte-secundaria: "Lato";

}

*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box ;
  font-family: Arial, Helvetica, sans-serif;

}


/*______Nav______________________________________________________________________________________________________________________________________________*/



nav{

  width: 100%;
  height: 65px;
  position: fixed;
  box-shadow: 0vw 0vw 1vw 0vw rgb(0 0 0);
  background-color: var(--cor-neutra);
  z-index: 20;


}

nav #navcx{

  width: 90%;
  height: 100%;
  margin: auto;
  /* .1  */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-neutra);
 

}

nav #navcx #logonavcx{

  width: 200px;
  height: 97%;
  /* border: 1px solid brown;  */
  overflow: hidden;

}

nav #navcx #logonavcx #logonav{

  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.4);

}

nav #navcx #menunav{

  height: 100%; 
  width: 50%;  
  /* border: 1px solid brown;  */
  /* display: none;  */

}

nav #navcx #menunav ul{

  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

nav #navcx #menunav ul li .btsnav{

  font-family: var(--fonte-primaria);
  font-weight: bold;
  color: var(--cor-principal);
  font-size: 0.9vw;
  text-decoration: none;

}

nav #navcx #menunav ul li .btsnav:hover{

  text-decoration: underline;

}

nav #navcx #menunav ul li #btsnavdf{

  text-decoration: none;
  background-color: var(--cor-neutra2);
  color: var(--cor-neutra);
  padding: 0.7vw 1vw;
  border-radius: 0.8vw;
  font-weight: bold;
  font-family: var(--fonte-primaria);
  font-size: 0.9vw;

}

nav #navcx #menunav ul li #btsnavdf:hover{

  background-color: var(--cor-texto);

}

nav #navcx #menuburguer{

  color: var(--cor-principal);
  font-size: 25px;
  font-family: var(--fonte-primaria);
  display: none;  

}

nav #navcx #menuX{

  color: var(--cor-principal);
  font-size: 25px;
  font-family: var(--fonte-primaria);
  display: none;  

}


/*______Header______________________________________________________________________________________________________________________________________________*/


header{

  width: 100%;
  /* height: 500px; */
  background: url(../imgs/fundo\ \(2\).jpg) no-repeat;
  background-position: right top;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 65px;
  border-bottom: 2vw solid var(--cor-fundo);

}

header #headercx{

  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-right: 2vw;
  /* border:  1px solid red;  */

}

header #headercx #cx1imgh{
  
  height: 100%;
  width: 49%;
   /* border:  3px solid rgb(153, 0, 255);   */
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: end;

}

header #headercx #cx1imgh #img1{

  width: 100%;
  /* border:  1px solid rgb(17, 255, 0);    */
  display: none;
 
  
}

header #headercx #cx1imgh #img2{

  width: 100%;
  /* border:  1px solid rgb(17, 255, 0);    */
 
  
}

header #headercx #cx2texth{

  width: 30%;
  height: 100%;
   /* border:  1px solid rgb(119, 0, 255);    */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 4vw;
  padding-right: 4vw;

}

header #headercx #cx2texth #imglogocx2h{

  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  border: 0.4vw solid var(--cor-fundo);
  overflow: hidden;

}

header #headercx #cx2texth #imglogocx2h img{
                            
  width: 100%;
  height: 100%;
  /* object-fit: cover;
  transform: scale(1.7); */
  object-fit: cover;
  scale: 1.7;
  z-index: 0;

}

header #headercx #cx2texth h1{

  color: var(--cor-neutra);
  font-weight: bold;
  margin: 10px 0px;
  font-size: 1.8vw;
  font-family: var(--fonte-primaria);
  text-align: center;


}

header #headercx #cx2texth span{

  font-family: var(--fonte-secundaria);
  color: var(--cor-principal);
  font-weight: bolder;
  font-size: 1.8vw;

}

header #headercx #cx2texth p{

  color: var(--cor-neutra);
  font-size: 1.5vw;
  font-family: var(--fonte-secundaria);
  margin: 5px 0px;
  font-weight: bold;
  text-align: center;

}

header #headercx #cx2texth a{

  text-decoration: none;
  font-family: var(--fonte-primaria);
  color: var(--cor-neutra);
  font-weight: bold;
  font-size: 1.2vw;
  padding: 10px 14px;
  margin-top: 15px;
  background-color: var(--cor-neutra2);
  border-radius: 10px;

}

header #headercx #cx2texth a:hover{

   background-color: var(--cor-texto);

}


/*______main______________________________________________________________________________________________________________________________________________*/


main{

  width: 100%;
  background-color: var(--cor-neutra);
  margin: auto;

}


main #maincx{

  width: 100%;
  /* background-color: #6EB5A9; */
  margin: auto;

}

/*________seção desafios______________________ */

main #maincx #desafios{

  width: 90%;
  background-color: var(--cor-neutra);
  margin: auto;
  padding: 8vw 0vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* margin-bottom: 300px; */

}

main #maincx #desafios #h1-1n{

  text-align: center;
  color: var(--cor-neutra2);
  font-family: var(--fonte-primaria);
  font-size: 4.1vw;
  font-weight: bolder;
  margin: 2vw 0vw 0.1vw 0vw;
 
}

main #maincx #desafios #h2-1n{

  text-align: center;
  color: var(--cor-principal);
  font-family: var(--fonte-secundaria);
  font-size: 1.7vw;
  font-weight: 500;
  margin: 0vw 0vw 0vw 0vw;
 
}

main #maincx #desafios .p-1n{

  text-align: center;
  color: var(--cor-principal);
  font-family: var(--fonte-secundaria);
  font-size: 1.05vw;
  font-weight: 400;
  margin: 1vw 0vw 6vw 0vw;
  width: 40%;
 
}

main #maincx #desafios .p-2n{

  text-align: center;
  color: var(--cor-texto);
  font-family: var(--fonte-secundaria);
  font-size: 1.8vw;
  font-weight: 400;
  margin: 9vw 0vw 6vw 0vw;
  width: 60%;
 
}

main #maincx #desafios #cardscx{

  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* border: 1px solid rgb(165, 132, 42); */
 
}

main #maincx #desafios #cardscx .cadcx{

  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  /* padding: 10px; */
  border: 0.2vw solid var(--cor-principal);
  border-radius: 2vw;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0.31vw 0.31vw 0.25vw var(--cor-texto);
  margin: 3vw 0px;
  aspect-ratio: 4/1.5;


}

main #maincx #desafios #cardscx .cadcx .imgcxcard{

  width: 40%;
  aspect-ratio: 1/0.9;
  border-right: 0.2vw solid var(--cor-principal); 
  overflow: hidden;
  /* border-radius: 2vw; */

}

main #maincx #desafios #cardscx .cadcx .imgcxcard img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);


}  

main #maincx #desafios #cardscx .cadcx .textcxcard{

  width: 55%;
  /* border: 1px solid rgb(108, 165, 42); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  border-radius: 2vw;

}

main #maincx #desafios #cardscx .cadcx .textcxcard h2{ 


  font-size: 2.5vw;
  /* border: 1px solid rgb(165, 42, 118); */
  font-family: var(--fonte-primaria);
  color: var(--cor-neutra2);
  font-weight: bold;
  width: 87%;


}

main #maincx #desafios #cardscx .cadcx .textcxcard p{ 

  font-size: 1.5vw;
  /* border: 1px solid rgb(42, 165, 83); */
  font-family: var(--fonte-secundaria);
  color: var(--cor-principal);
  font-weight: 500;
  width: 87%;
  text-align: justify;


}



/*________seção sobre mim______________________ */



main #maincx #sobremim{

  background: linear-gradient( 45deg ,var(--cor-secundaria), var(--cor-neutra2))  center center no-repeat;
  width: 100%;
  aspect-ratio: 2.2/1;
  /* margin-bottom: 300px; */
  /* box-shadow: inset 0px 9px 18px 0px black; */
  position:relative ;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-bottom: 2vw solid var(--cor-fundo);
  border-top: 2vw solid var(--cor-fundo);
 
}

main #maincx #sobremim #sobremimcx{

  width: 90%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: relative;

}

main #maincx #sobremim #sobremimcx #cx1{

  width: 100%;
  height: 100%;
  /* border: 2px solid yellow; */
  display: flex;
  z-index: 1;

}

main #maincx #sobremim #sobremimcx #cx1 #imgcx1{

  width: 48%;
  height: 100%;
  /* border: 2px solid gray;  */
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-end;

}

main #maincx #sobremim #sobremimcx #cx1 #imgcx1 img{ 

  width: 95%;
  /* border: 2px solid rgb(1, 5, 255); */

}

main #maincx #sobremim #sobremimcx #cx1 #text1cx{

  width: 51%;
  height: 100%;
  /* border: 2px solid rgb(255, 1, 234); */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 4vw;
  padding-right: 3vw;

}
main #maincx #sobremim #sobremimcx #cx1 #text1cx h1{

  font-size: 3.1vw;
  font-family: var(--fonte-primaria);
  color: var(--cor-neutra);
  text-align: right;
  width:  100%;
  font-weight: bolder;

  /* border: 2px solid rgb(1, 5, 255);  */
  margin: 1vw 0px;
  

}
main #maincx #sobremim #sobremimcx #cx1 #text1cx p{

  font-size: 0.7vw;
  font-family: var(--fonte-secundaria);
  color: var(--cor-neutra);
  text-align: right;
  font-weight: 400;
  width: 89%;
  /* border: 2px solid rgb(1, 5, 255);  */
  margin: 1vw 0px;
  

}

main #maincx #sobremim #sobremimcx #cx2{

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -30%;
  z-index: 2;
  /* border: 2px solid rgb(221, 7, 7); */
  width: 98%;

}

main #maincx #sobremim #sobremimcx #cx2 .cardssobre{

  width: 30.5%;
  aspect-ratio: 1.2/1;
  background-color: var(--cor-neutra);
  box-shadow: 0vw -0.073vw 0.512vw 0.146vw #0000007d;
  z-index: 1;
  border-radius: 0.5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid black; */ 

}

main #maincx #sobremim #sobremimcx #cx2 .cardssobre h1{

  text-align: center;
  font-size: 1.5vw;
  font-family: var(--fonte-primaria);
  color: var(--cor-neutra2);
  margin-bottom: 2vw;
  width: 80%;

}

main #maincx #sobremim #sobremimcx #cx2 .cardssobre p{

  text-align: center;
  font-size: 0.8vw;
  font-family: var(--fonte-secundaria);
  color: var(--cor-principal);
  width: 80%;
  font-weight: bolder;

}

main #maincx #sobremim #sobremimcx #cx2 .cardssobre#cardmaior{

  width: 34.5%;
  z-index: 2;
  
}


main #maincx #sobremim #sobremimcx #cx2 .cardssobre#cardmaior h1{

  font-size: 2vw;
  margin-bottom: 2.8vw;

}

main #maincx #sobremim #sobremimcx #cx2 .cardssobre#cardmaior p{

  font-size: 1vw;

}

/*________beneficios______________________ */


main #maincx #beneficios {

  width: 100%;
  /* aspect-ratio: 1.8/1; */
  /* border:  2px solid red; */
  padding-top: 30vw;

}

main #maincx #beneficios #beneficioscx{

  width: 100%;
  /* height: 100%; */
  /* border:  2px solid blue; */
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  


}

main #maincx #beneficios #beneficioscx #h1bn{

  text-align: center;
  font-family: var(--fonte-primaria);
  color: var(--cor-neutra2);
  font-size: 4.1vw;
  font-weight: bolder;
  margin: 2vw 0vw 0.1vw 0vw;
  width: 50%;

}

main #maincx #beneficios #beneficioscx #h2bn{

  text-align: center;
  font-family: var(--fonte-secundaria);
  color: var(--cor-principal);
  font-size: 1.7vw;
  font-weight: 500;
  margin: 0vw 0vw 0.7vw 0vw;
  
}

main #maincx #beneficios #beneficioscx #pbn{

  text-align: center;
  color: var(--cor-principal);
  font-family: var(--fonte-secundaria);
  font-size: 1.05vw;
  font-weight: 400;
  margin: 0vw 0vw 7vw 0vw;
  width: 30%;
 


}

main #maincx #beneficios #beneficioscx #cardbenecx{

  width: 90%;
  /* height: 80%; */
  /* border:  2px solid blue; */
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 6vw 1.5vw;


}

main #maincx #beneficios #beneficioscx #cardbenecx .cardsbene{

  width: 22%;
  aspect-ratio: 1/1.9;
  border: 0.14vw solid var(--cor-neutra2);
  border-radius: 0.9vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0.3vw 0.4vw 0.7vw 0vw var(--cor-principal);
  margin: 0vw 1.4vw 4vw 1.4vw;
  /* padding-top: 7vw; */

}

main #maincx #beneficios #beneficioscx #cardbenecx .cardsbene .imgcxbene{

  width: 100%;
  aspect-ratio: 1/0.9;
  border-bottom: 0.14vw solid var(--cor-neutra2);
  /* border-radius: 50%; */
  overflow: hidden;
  /* position: absolute;
  top: -20%; */

}

main #maincx #beneficios #beneficioscx #cardbenecx .cardsbene .imgcxbene img{

  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(); 

}

main #maincx #beneficios #beneficioscx #cardbenecx .cardsbene h1{

  color: var(--cor-neutra2);
  text-align: center;
  font-size: 1.8vw;
  font-family: var(--fonte-primaria);
  width: 95%;

}

main #maincx #beneficios #beneficioscx #cardbenecx .cardsbene p{

  color: var(--cor-principal);
  text-align: center;
  width: 80%;
  font-size: 0.9vw;
  font-family: var(--fonte-secundaria);
  margin-bottom: 2.9vw;

}
/*
main #maincx #desafios{

 
}*/

/*______footer______________________________________________________________________________________________________________________________________________*/
